h1 {
    font-size: 20px;
    color: #000;
}

blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
}

blockquote>:first-child {
    margin-top: 0px;
}

blockquote>:last-child {
    margin-bottom: 0px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 90%;
    margin:0 auto;
}

table th:first-child {
    width: 15%;
    text-align:center;
}

table th {
    font-weight: bold;
    background: #ccc;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 6px 13px;
    text-align:justify;
    line-height:1.5em;
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    height:80px;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr > td:first-child {            
    text-align:center;
}
table tr:first-child{
    height:50px;
}
#mu{
    width:52px;
    position:fixed;
    top:5px;
    right:5px;
    z-index: 20;
    background-color: #fff;
    border-top:1px solid black; 
    border-right:1px solid black;
}
#mu ul{               
    padding:0px;
    margin:0px;
}
#mu ul li{
    list-style:none;
    width:50px;
    padding:5px 0px;
    text-align: center;
    border-left:1px solid black;
    border-bottom: 1px solid black;
}

#mu a{
    text-decoration: none;
}
#mu a:hover,span a:hover{
    background-color:yellow;
    color:red;
}
#mu a:active,#mu a,#mu a:visited,span a,span a:active,span a:visited{
    color:rgb(19, 111, 202);
}
span{
    font-size: 0.7em;
    font-weight: normal;  
    margin-left: 10px;          
}
span a{
    text-decoration: none;
}
#opex{
    display: none;   
}